In [5]:
import pandas as pd

df = pd.read_csv(r'c:\\Users\szere\OneDrive\Pulpit\Master topics\Startup-Success-Prediction-master\d3\data\train-data.csv')

print(df)
print(df.dtypes)

      Unnamed: 0 state_code   latitude   longitude zip_code        id  \
0              0         CA  37.392480 -122.072612    94041    c:1001
1              1         MA  42.368633  -71.075305     2210   c:10054
2              2         NY  40.745064  -73.992637    10001  c:101312
3              3         NY  40.775309  -73.983656    10001   c:10137
4              4         MO  38.703764  -90.443832    63043   c:10153
...          ...        ...        ...         ...      ...       ...
1149        1149         CA  37.758062 -122.418642    94110    c:9772
1150        1150         CA  41.789420  -87.596232    94105    c:9782
1151        1151         NY  40.740441  -73.993376    10011    c:9816
1152        1152         NY  40.739010  -73.997259    10011    c:9822
1153        1153         CA  37.557637 -122.285714    94304     c:997

               city         Unnamed: 6                name    status  ...  \
0     Mountain View                NaN          FriendFeed  acquired  ...
1            Boston                NaN             Jumptap  acquired  ...
2          New York                NaN            SideTour  acquired  ...
3          New York                NaN          Producteev  acquired  ...
4       Saint Louis                NaN          ITOG, Inc.    closed  ...
...             ...                ...                 ...       ...  ...
1149  San Francisco                NaN             Fluther  acquired  ...
1150  San Francisco                NaN  ReTel Technologies  acquired  ...
1151       New York                NaN            ShopWiki  acquired  ...
1152       New York  New York NY 10011           DailyBurn  acquired  ...
1153      Palo Alto                NaN              Zimbra  acquired  ...

      is_othercategory object_id has_VC has_angel has_roundA  has_roundB  \
0                    0    c:1001      0         0          1           0
1                    0   c:10054      1         0          1           1
2                    0  c:101312      0         1          1           0
3                    0   c:10137      0         1          0           0
4                    1   c:10153      0         1          0           0
...                ...       ...    ...       ...        ...         ...
1149                 0    c:9772      0         1          0           0
1150                 1    c:9782      0         1          0           0
1151                 0    c:9816      0         0          1           0
1152                 0    c:9822      0         1          0           0
1153                 0     c:997      0         0          0           0

      has_roundC  has_roundD  avg_participants  is_top500
0              0           0               3.0          1
1              1           1               4.5          1
2              0           0               2.0          1
3              0           0               6.0          1
4              0           0               1.0          0
...          ...         ...               ...        ...
1149           0           0               7.0          1
1150           0           0               4.5          1
1151           0           0               1.0          0
1152           0           0               2.5          1
1153           1           0               9.0          1

[1154 rows x 49 columns]
Unnamed: 0                    int64
state_code                   object
latitude                    float64
longitude                   float64
zip_code                     object
id                           object
city                         object
Unnamed: 6                   object
name                         object
status                       object
labels                        int64
founded_at                   object
closed_at                    object
first_funding_at             object
last_funding_at              object
age_first_funding_year      float64
age_last_funding_year       float64
age_first_milestone_year    float64
age_last_milestone_year     float64
relationships                 int64
funding_rounds                int64
funding_total_usd             int64
milestones                    int64
state_code.1                 object
is_CA                         int64
is_NY                         int64
is_MA                         int64
is_TX                         int64
is_otherstate                 int64
category_code                object
is_software                   int64
is_web                        int64
is_mobile                     int64
is_enterprise                 int64
is_advertising                int64
is_gamesvideo                 int64
is_ecommerce                  int64
is_biotech                    int64
is_consulting                 int64
is_othercategory              int64
object_id                    object
has_VC                        int64
has_angel                     int64
has_roundA                    int64
has_roundB                    int64
has_roundC                    int64
has_roundD                    int64
avg_participants            float64
is_top500                     int64
dtype: object

In [6]:
#removing unnecessary columns + adding binary target column

df = df.drop(df.columns[[0, 2, 3, 6, 8, 40 ]], axis=1)
df['Successful'] = df.status.apply(lambda x: 1 if x == "acquired" else 0)
print(df)

     state_code zip_code        id         Unnamed: 6    status  labels  \
0            CA    94041    c:1001                NaN  acquired       1
1            MA     2210   c:10054                NaN  acquired       1
2            NY    10001  c:101312                NaN  acquired       1
3            NY    10001   c:10137                NaN  acquired       1
4            MO    63043   c:10153                NaN    closed       0
...         ...      ...       ...                ...       ...     ...
1149         CA    94110    c:9772                NaN  acquired       1
1150         CA    94105    c:9782                NaN  acquired       1
1151         NY    10011    c:9816                NaN  acquired       1
1152         NY    10011    c:9822  New York NY 10011  acquired       1
1153         CA    94304     c:997                NaN  acquired       1

     founded_at  closed_at first_funding_at last_funding_at  ...  \
0     10/1/2007        NaN        2/26/2008       2/26/2008  ...
1      1/1/2005        NaN         3/1/2005        7/2/2012  ...
2      6/1/2011        NaN         7/1/2011       3/25/2013  ...
3      7/8/2008        NaN        7/15/2008        2/1/2010  ...
4     9/19/2006  4/16/2010        2/11/2008       2/11/2008  ...
...         ...        ...              ...             ...  ...
1149   1/1/2007        NaN        9/21/2009       9/21/2009  ...
1150  10/1/2007        NaN         8/6/2009       12/2/2009  ...
1151   6/1/2005        NaN         7/1/2006        7/1/2006  ...
1152  10/1/2007        NaN         5/1/2008       5/26/2009  ...
1153   1/1/2003        NaN         4/1/2006        4/1/2006  ...

      is_othercategory  has_VC  has_angel  has_roundA  has_roundB  has_roundC  \
0                    0       0          0           1           0           0
1                    0       1          0           1           1           1
2                    0       0          1           1           0           0
3                    0       0          1           0           0           0
4                    1       0          1           0           0           0
...                ...     ...        ...         ...         ...         ...
1149                 0       0          1           0           0           0
1150                 1       0          1           0           0           0
1151                 0       0          0           1           0           0
1152                 0       0          1           0           0           0
1153                 0       0          0           0           0           1

      has_roundD  avg_participants is_top500  Successful
0              0               3.0         1           1
1              1               4.5         1           1
2              0               2.0         1           1
3              0               6.0         1           1
4              0               1.0         0           0
...          ...               ...       ...         ...
1149           0               7.0         1           1
1150           0               4.5         1           1
1151           0               1.0         0           1
1152           0               2.5         1           1
1153           0               9.0         1           1

[1154 rows x 44 columns]